[Unit]
Description=iproxy2vts - VTS iPhone to PC Bridge Service [BETA]
Documentation=man:iproxy2vts(1)
After=network.target usbmuxd.service
Wants=usbmuxd.service

[Service]
Type=simple
ExecStart=/usr/bin/iproxy2vts -f
Restart=on-failure
RestartSec=5
Environment=DISPLAY=:0


[Install]
WantedBy=default.target
